.autowms_app_container{
  padding:0px;
  margin:0px;
  overflow-y: scroll;
  height:100%;
}

.autowms_app_fileitem{
  display:block;
  margin:1px;
  padding:5px;
  background-color:#DDD;
  cursor:pointer;
}

.autowms_app_layeritem{
  display:block;
  margin:1px;
  padding:5px;
  background-color:#DDD;
  cursor:pointer;
}

.autowms_app_fileitem_return{
  display:block;
  margin:1px;
  padding:5px;
  background-color:#DDD;
  cursor:pointer;
}

.autowms_app_currentpath{
 display:block;
  margin:1px;
  padding:5px;
  background-color:#DDF;
}