.autowms_app_fileitem{
  display:block;
  margin:1px;
  padding:3px;
  background-color:#DDD;
  cursor:pointer;
}

.autowms_app_layeritem{
  display:block;
  margin:1px;
  padding:3px;
  background-color:#DDD;
  cursor:pointer;
}

.autowms_app_fileitem_return{
  display:block;
  margin:1px;
  padding:3px;
  background-color:#DDD;
  cursor:pointer;
}

.autowms_app_currentpath{
 display:block;
  margin:1px;
  padding:3px;
  background-color:#DDF;
}